version: "3.9"

services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: darkdown
    ports:
      - "5432:5432"
  app:
    build: .
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/darkdown
    ports:
      - "3000:3000"
    depends_on:
      - db
